# Node / React (client)
client/node_modules/
client/dist/
client/.env
client/.env.local

# PHP (api)
api/vendor/
api/.env

# General
.DS_Store
*.log

# Secrets
api/config/jwt.php
ppscpi_lms/sad
ppscpi_lms/.VSCodeCounter