.home-btn-staff,
.home-btn-enrollee {
  display: inline-block;
  border: solid gray;
  border-width: 2px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #333;
  transition: background-color 0.3s;
  font-size: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-btn-staff {
  margin-right: 5px;
}

.home-btn-enrollee {
  margin-left: 5px;
}

.home-btn-staff.active,
.home-btn-enrollee.active {
  background-color: #800080;
}

.home-btn-staff a,
.home-btn-enrollee a {
  color: white;
  text-decoration: none;
}

.heading {
  padding-top: 3in;
  font-size: 30px;
  font-weight: bold;
}